<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.leebarcaglobal.worldtravel3d">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorldList3dApp"
        tools:targetApi="31">

        <!-- SplashActivity with launch theme -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.WorldList3dApp.Launch"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CountryDetailActivity" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".MainActivity" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".CountryDetailsAttractions" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".CountryDetailsInfo" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".CountryDetailsPlanning" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".ExploreActivity" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".LanguageActivity" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".TripPlannerActivity" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".AddTrip" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".ViewEditTripActivity" android:windowSoftInputMode="stateHidden|adjustResize"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>